
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.text-primary{
    color: rgba(78, 71, 255, 1);
}
.dark{
    color: #252432;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
    
}
button:hover{
    background-color: brown;
}
/* header */
.header{
    background-image: url('../Assets/Hero-bg.png');
    
}
/* nav styles */
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0px 150px;
    
}
.nav-title{
    font-weight: 900;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}
nav ul li{
    list-style: none;
}
/* banner  styles */
.banner-title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.banner-content{
   width: 905px;
}
.banner{
    display: flex;
    justify-content: center;
    margin: 0 305px 265px;
    text-align: center;
    padding-bottom: 150px;
}
/* action styles */
.action{
    display: flex;
    justify-content: space-between;
    margin: 100px 160px 115px 140px;
}

.action-content{
    max-width: 1140px;
    
}
   
.action-title{
    font-size: 42px;
    font-weight: bold;
    
}
.action-sub-title{
    font-size: 24px;
    color: #252432;
   margin-top: 10px;
   
}
.section-profile{
    border-radius: 48px;
   
}

/* users section styles */
.users{
    border-radius: 25px;
    max-width: 1015px;
    margin: 0 auto;
    padding: 50px 70px;
    text-align: center;
    margin-top: 115px;
}

.section-title{
    font-size: 38px;
    font-weight: bold;
   
    
}
.secondary-bg{
    background-color:rgba(78, 71, 255, 0.1)
}
.item-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.item-description{
    font-size: 20;
    color: #000000;
   
}
.section-items{
    display: flex;
    justify-content: space-around;
}

/* Get in touch section */
.touch-section{
    padding: 92px 150px 50px 150px;
    display: flex;
    gap: 100px; 
}
.touch-column{
    width: 50%;
}
.section-title{
    font-size: 97px;
    font-weight: bold;
    
}
section input[type="email"], section input[type="text"], section textarea{
    height: 60px;
    border-radius: 5px;
    border: none;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 25px;
}
/* footer styles */
footer{
    padding: 105px 450px ;
    text-align: center;
}
.footer-section{
    width: 100%;
}
.footer-title{
    color: #4E47FF;
    font-size: 100px;
    font-weight: 900;
    margin-top: 200px;
}
.footer-subtitle{
    color: #8987A1;
}
footer a{
    text-decoration: none;
    color: #8987A1;
    margin: 20px;
}